@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>به وبسایت کوتاه کننده لینک من خوش آمدید</h1>
    <h4>در این وبسایت می توانید لینک های طولانی خود را کوتاه تر کنید</h4>
    <a class="btn btn-primary btn-lg mt-4" asp-page="/ShortLink">همین الان لینکتو کوتاه کن</a>
</div>
